
# Ignore the vendor directory, which is currently some 13M of
# .go files alone. This means that fresh clones will need to run
# `dep ensure` before things will just work, but that should be
# fine.
vendor/

# Ignore coverage files
**/coverage.*

## https://github.com/github/gitignore/blob/master/Go.gitignore
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# abstract syntax trees written by the generator
*.ast

# Docker keyfile
# This is a keyfile with which docker can read ndau repositories.
docker_keyfile_rsa
github_chaos_deploy

# Editor customization
.vscode/

# emacs support files
*~
.#*

# OSX
.DS_Store

# Ignore the executable output of go build, but not the actual folder
ndau
!*/ndau
ndaunode
!*/ndaunode
ndauapi
!*/ndauapi
dump_mock
!*/dump_mock
load_tool_config
!*/load_tool_config
tx.mobile
!*/tx.mobile

# Mac debris
**/.DS_Store

# tarballs
*.tar.bz2
